@font-face {
    font-family: font1;
    src: url(/Assets/Fonts/68bf26087df8b22fd8bdc194_NeutralSans-Regular.ttf);
}

@font-face {
    font-family: font2;
    src: url(/Assets/Fonts/68bf2d317447613b7363d623_BeautiqueDisplay-Light.otf);
}

@font-face {
    font-family: font3;
    src: url(/Assets/Fonts/68bf2d3a549c0f3150c48f6a_BeautiqueDisplay-Medium.otf);
}

@font-face {
    font-family: font4;
    src: url(/Assets/Fonts/UcC53FwrK3iLTcvneQg7Ca725JhhKnNqk6L5UUM.woff2);
}

@font-face {
    font-family: font5;
    src: url(/Assets/Fonts/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1ZL7.woff2);
}

* {
    margin: 0%;
    padding: 0%;
}



.main1{
    background-color: #1f1a81;
    width: 100%;
    height:100vh;
    overflow: hidden;
}

nav {
    height: 10vh;
    width: 100%;
    background-color: #1f1a81;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.navl {
    margin-left: 50px;
    font-size: 1.6rem;
    font-weight: 300;
    font-family: font2;
    color: white;
}

.navc {
    font-size: 15px;
    font-weight: 500;
    margin-right: 120px;
    width: 383px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 50px;
    border: 0.1px solid rgb(109, 109, 109);

}

.navc a {
    text-decoration: none;
    font-family: font5;
    color: white;
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navc :nth-child(4){
background: rgba(255, 255, 255, 0.051);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.549);
backdrop-filter: blur(5.1px);
-webkit-backdrop-filter: blur(5.1px);
border: 1px solid rgba(255, 255, 255, 0.47);
}

.section1{
    height:90vh;
    width: 100%;
    /* background-color:#1f1a81; */
    display: flex;
    justify-content: center;
}


.section1 img{
    height:85vh;
    position: absolute;
    top:50px;
    z-index:2;
    mix-blend-mode: luminosity;
    transform: scale(1.2);
    width: 370px;
   
}

.section1text{
    position: absolute;
    height:30%;
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    align-items:center;
    color: white;
    z-index:10;
}

.section1text h2{
    position: absolute;
    left: 135px;
    top:110px;
    font-family: font5;
    font-size: 1.6rem;
    font-weight: 700;
}

.section1text h1{
    position: absolute;
    font-family: font2;
    font-size:16vw;
    font-weight: 500;
    bottom: -250px;
}

.section1text ul{
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
    position: absolute;
    right:160px;
    top: 110px;
    font-family: font1;
    font-size: 17px;
}

.backblur{
    top: 30%;
    width: 400px;
    height: 400px;
    position: absolute;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.412);
    filter: blur(240px);
}

.down1para{
    position: absolute;
    bottom: 25px;
    z-index:10;
    color: white;
    font-family: font1;
    scale: 0;
}

.main2{
    height: 130vh;
    width: 100%;
    background-color:black;
}

.innermain{
    scale:0;
    height: 100%;
    width: 100%;
    background-color: white;
    font-family:font5;
    display: flex;
    align-items: end;
}

.innerinnermain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 55px;
    position: relative;
    height: 100vh;
}

.innerinnermain p{
    font-size: 24px;
    font-weight: 400;
    align-self: start;
    position: absolute;
    top: 50px;
    left: 100px;
}

.innerinnermain h1{
    font-size: 5vw;
    text-align: center;
    font-weight: 500;
    letter-spacing: -5px;
}

.para2{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 80%;
}

.para2 h3{
    letter-spacing: -1px;
    font-weight: 400;
    width: 42%;
    font-size: 24px;
}

.para2 :nth-child(2){
    width:39%;
}